header nav ul.navbar a:link {
    color: #fff;
}

header nav ol.breadcrumb {
    padding: 10px 30px;
    margin-bottom: 0;
}

main div.card {
    box-shadow: 0 0 25px #ddd;
}

main span.badge {
    font-size: 14px;
}

main .permissions-table, main .roles-table {
    font-size: 14px;
}

main .list-group-item table {
    font-size: 14px;
}
