.printable { display: none; }

@media print
{
    .non-printable { display: none; }
    .printable { display: block; }
    .hide.printable { display: block;opacity:1; }
}

.table.table-mini th {
    font-size: 16px;
    color: #ffffff;
    background: #005f87;
    font-weight: 300;
    vertical-align: middle;
    padding: 8px !important;
}
.table.table-mini .table th {
    line-height: 2;
}

.table tr td span.desc {
	display:block;
	border-top:1px #EEE solid;
	padding-top:5px;
	margin-top:5px;
	font-weight:500;
	font-size:12px;
}

.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 1px solid #005f87;
}
.table {
    font-size: 15px;
    box-shadow: 0px -1px 0 0 #005f87;
}
span.spanstrong {
	display:inline;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border-top: 0;
}
.table-striped>tbody>tr:nth-of-type(odd) td{
    background-color: #EEEEEE;
    border-top: 1px #8c8c8c solid;
}

.table.table-condensed.table-bordered {
    border-color: #929292;
    box-shadow: none;
}
.table.table-condensed.table-bordered th {
    padding: 0px 2px 0 10px;
    background: #ffffff;
    font-size: 15px;
    color: #000;
    font-weight: 500;
    /* border-color: #8c8c8c; */
    /* line-height: 20px; */
}

.table td .btn-default {
    color: #000000;
    background-color: #ffffff;
    border-color: #CCC;
    box-shadow: inset 0px -2px 0px 0px #b3b1b1;
    margin-top: 4px;
    padding: 5px 10px 7px 10px;
    font-size: 14px;
}
td.list-group .dropdown {
    margin-bottom: 0px;
}
.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border-bottom: 1px solid #999;
}
td.nopadding {
	padding:0 0 5px 0 !important;
}
.table.table-condensed.table-bordered td{
	width:25%;
	line-height: 20px;
	padding:5px 5px 5px 10px;
	font-size:14px;
}
.btn-ajax-link{
	font-size:13px;
	border-bottom:1px #08c dotted;
	color:#08c;
	float:left;
	margin-right:5px;
	margin-left:10px;
	cursor:pointer;
}
.dropdown-menu a{
	cursor:pointer;
}
.dropdown-menu .divider {
    margin: 5px 0;
}
.btn-ajax-link::after{

}
.btn-ajax-link:hover{
	text-decoration:none;
	border-bottom:1px #08c dotted;
}
.modal-body .form-group {
	margin-bottom:10px;
}
.fullwidth {
	width:100% !important;
}
.boldoption {
    color: #000 !important;
    font-weight: 600 !important;
}
.dropdown-menu>li>a {
    display: block;
    padding: 5px 15px;
    clear: both;
    font-weight: 400;
    color: #000;
    white-space: nowrap;
    font-size: 14px;
	color:#08c;
}
.dropdown-menu>li>a.green {
    color: #00b500;
}
.dropdown-menu>li>a.red {
    color: #f00;
}
td a.list-group-item{
	color:#08C;
}
td.list-group.list-group-sm .dropdown {
    margin-bottom:0;
}
td.list-group.list-group-sm .dropdown .dropdown-menu>li>a {
    padding: 2px 15px;
    font-size: 12px;
}
.list-group-sm .list-group-item {
    font-size:13px;
}
span.gree {
    color: #585858;
    font-size: 12px;
}
.list-group-item {
    border: 0;
    border-bottom: 1px solid #FFF;
    cursor: pointer;
}
.well.well-form label {
    font-size: 15px;
    font-weight: 600;
    color: #000;
}

.well.well-form {
    border-radius: 8px;
    padding: 10px 0px 5px 10px;
    background: #FFF;
    float: left;
    width: 100%;
}
.modal .tab-content{
	padding:10px 0px;
}
.modal .table td {
	border-color:#EEE;
}

.get-resourses-link{
	float:right;
}
.resourses-block{
	background:#fafafa;
	padding:10px 15px 10px 15px;
	margin-top:10px;
	border:1px #EEE solid;
}
.resourses-group-title {
	font-size:13px;
	color:#000;
	font-weight:600;
	margin-top:5px;
	display:block;
}
