/* Profile container */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-userpic {
    display: flex;
    justify-content: center;
}
.profile-userpic img {
	margin: 0 auto;
	border: 1px #005477 solid;
}
.close-modal {
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}
.nav-tabs {
    border-bottom: 2px #00A2B0 solid;
}
.nav-tabs .nav-link {
    margin-bottom: -2px;
}
.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}

.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
    color: #93a3b5;
    font-size: 16px;
    font-weight: 700;
    display: block;
    position: relative;
    padding: 10px 15px;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li a.active {
  color: rgba(0, 0, 0, 0.5) !important;
  background-color: #f6f9fb;
  border-left: 2px solid #78C2C9;
  margin-left: -2px;
}

/* Profile Content */

.profile-content {
    padding: 20px;
    background: #f6f9fb;
    min-height: 460px;
}
.tab-content {
    padding: 15px 15px 5px 15px;
    border: 1px #fff solid;
    border-radius: 0px;
	background:#fff;
}

/* resume */
form.row-life {
    margin-bottom: 15px;
    border: 1px #EEE solid;
    box-shadow: 0px 2px 2px -1px #CCC;
    padding: 15px 30px;
    border-radius:0px;
	position:relative;
}
.row-life span.close-life{
	display:block;
	position:absolute;
	width:20px;
	height:20px;
	right:15px;
	top:15px;
	cursor:pointer;
	z-index:99999;
	color:#f00;
}

form.row-life label {
	text-align:right;
	color:#555;
	font-size:15px;
	font-weight: 700;
}
form.row-life .form-group {
    font-size: 15px;
    margin-bottom: 5px;
    font-weight: 500;
}
form.form-well {
    padding: 30px;
    background: #f5f5f5;
    border-radius: 8px;
	margin-bottom:15px;
}

.btn-avatar {
	box-shadow:0px 0px 2px 0px #CCC;
	margin-top:10px;
}

.profile-usermenu ul li a:hover {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
}

.fw-500 {
    font-weight: 500;
}
.fw-bold {
    font-weight: 700 !important;
}
.fs-14 {
    font-size: 14px;
}
.text-grey {
    color: rgba(0, 0, 0, 0.5) !important;
}
#print-it-out-btn {
    background-color: #D9F1F3;
    border-color: #78C2C9;
    font-size: 14px;
}
.btn-secondary, .btn-secondary:active, .btn-secondary:focus {
    color: #2C3E50;
    background-color: #D9F1F3;
    border-color: #78C2C9;
    border-radius: 5px;
}

.btn-secondary:hover {
    color: #2C3E50;
    background-color: #D9F1F3;
    border-color: #78C2C9;
    opacity: 0.8;
}
.container-filter {
    background: #fafafa;
    padding: 15px 0;
    border-bottom: 1px #EEE solid;
    border-top: 1px #EEE solid;
    margin-bottom: 10px;
}

.btn.dropdown-toggle.btn-light {
    background: white;
    border: 1px solid #ced4da;
}

.br-none {
    border: none !important;
}

.dropdown.bootstrap-select.form-control.dropup .dropdown-item.selected.active,
.dropdown.bootstrap-select.form-control.dropup .dropdown-item:active{
    background-color: #D9F1F3;
    color: inherit;
}
